.home{
    margin-top: -700px;
    margin-left: 200px !important;
    /* position: absolute; */
}
.home {
    /* color: white; */
}
.home p{
    color: #56FFDA;
}
.home h1{
    font-size: 80px;
    font-weight:700;
    color: gainsboro;
    font-family: 'Dancing Script', cursive;
}
.home small{
    color: #56FFDA;
}
.home span{
    color: #56FFDA;
    font-size:20px;
}
.img{
    height: 500px;
    /* border: 1px solid  #56FFDA; */
    /* border-radius: 50% */
}
.button{
    width: 150px;
    height: 50px;
    /* border-radius: 15px; */
    background: transparent;
    color: #56FFDA;
    border: 1px solid #56FFDA
}
.button:hover{
    background-color: gray;
}

/* .scale-in-center {
    -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250,
    0.460, 0.450, 0.940) 1s both;
    animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460,
    0.450, 0.940) 1s both;
}
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
} */
.main-home-div{
    margin-top: 150px
}
@media only screen and (max-width: 600px) {
   .img{
        margin-top: 100px;
        margin-left: -50px;
        width: 50%;
        height: 50%;
        /* border: 1px solid white !important */
        
    }
    .home-data{
        /* margin-top: 500px !important; */
        /* margin-right: 80px; */
        margin: 500px 0px 0px 0px !important;
    }
    .home-data h1 {
        font-size: 30px;
        
    }
    .home-data button{
        width: 100px;
        height: 30px
    }
    .home-data span{
        font-size:15px
    }
    .main-home-div{
        margin: 0px;
        margin-left: -50px
    }
    
  }
  